<!DOCTYPE html>
<html>
<head>
    <title>Leave a Message</title>
</head>
<body>
    <h1>Leave a Message</h1>
    
    <form method="POST" action="/create">
        <label>Your Name:</label><br>
        <input type="text" name="author" value="{{ author }}" placeholder="Your name" required><br><br>
    
        <label>Message Title:</label><br>
        <input type="text" name="title" required><br><br>
    
        <label>Message:</label><br>
        <textarea name="content" rows="5" cols="40" required>           </textarea><br><br>

        <label>Pick an Emoji:</label><br>
        <input title="Paste or type an emoji" type="text" name="avatar" value="{{ avatar }}" maxlength="2" placeholder="😀" /><br><br>

        <label>Name Color:</label>
        <input type="color" name="color" value="{{ color }}"><br><br>
    
        <button type="submit">Post</button>

    <p><a href="/">Back to Home</a></p>
</body>
</html>
